[bumpversion]
current_version = 3.0.0-5
commit = True
message = 
	[SKIP] Automatic version bump {current_version} -> {new_version}
tag = True
tag_message = 
	Automatic version bump {current_version} -> {new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)?(\-(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}-{build}
	{major}.{minor}.{patch}

[bumpversion:file:setup.py]
