[flake8]
ignore = E501, W503
exclude =
    .git,
    __pycache__,
    dist,
    venv,
    .tox
max-complexity = 10
max-line-length = 120
# when using black it's safe to disable formatting-related errors in tools like flake8
extend-ignore = E203,W503
