[MESSAGES CONTROL]
disable=logging-fstring-interpolation,
        missing-class-docstring
ignore=setup.py,
ignore-patterns=.*_test.*?py,.*test_.*?py,.*test.*?py,.*pb2.*,.*yml, .*toml, .*txt, .*md
ignore-long-lines=^import\s.+|^from\s.+

[FORMAT]
max-line-length=120
