[MESSAGES CONTROL]
disable=print-statement,
        parameter-unpacking,
        unpacking-in-except,
        old-raise-syntax,
        backtick,
        no-self-use,
        logging-fstring-interpolation,
        missing-class-docstring
ignore=setup.py,
ignore-patterns=.*_test.*?py,.*test_.*?py,.*test.*?py,.*pb2.*,.*yml, .*toml, .*txt, .*md
ignore-long-lines

[FORMAT]
max-line-length=120
